h2{
	font-style:italic;
	text-shadow: 1px 1px black;
	text-align: center;
  }
  
  /* image styling */
  #div1, #div2{
	border: 1px solid #0b0a0a;
	padding: 5px;
	background-color: #ffddf4;
  }
  
  /* video styling */
  video  {
	background-color: #ffddf4 ;
  }