<!DOCTYPE html>
<html >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Felicity Oguntolu">
    <meta name="description" content="An app to aid beauty retailer clients in assessing their products through reviews and ratings.">

    <title>BEAUTY 101</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"> </script>
  </head>

  <body>
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #f1529c;">
    <a class="navbar-brand" href="#">
    BEAUTY 101
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
  </div>
</nav>
  <h1 class="text-center"> Brand Analysis</h1>
  <form class="p-3 text-center" action="/sentiment" method="post" value=""  enctype="multipart/form-data">
    <input class="form-control" type="text" name="user" placeholder="enter your review">
    <br>
    <input class="btn btn-primary mt-3" type="submit" value="Review Sentiment">
  </form>
  <br>
  <br>
  <br>
  <br>
  <div class="p-3 text-center" style="font-size:large;">
    <p> <i><b>Customer says: </b></i>{{ text }}</p>
    <p> {{ sentiment }} </p>
  </div>
  <form class="p-3 text-center" action="/analysis" method="post" value="brand"  enctype="multipart/form-data">
    <input class="form-control" type="file" name="file">
    <br>
    <input class="btn btn-primary mt-3" type="submit" value="Review Stats">
  </form>

   <br>
   <br>

  <div class="p-3 text-center" style="font-size:large;">
    <p class="abs" ><b>Positive: </b> {{ positive }} </p>
    <p class="abs" ><b>Negative: </b> {{ negative }}  </p>
  </div>
    <footer style="font-size:medium;">
      <p class="new">©<a href="https://www.sephora.com/ca/en/?country_switch=ca&lang=en">Sephora</a> </p>
    </footer>
  
</body>
</html>
